
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap')



/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  font-family: 'Lexend', sans-serif;
  color: #000;
  background-color: #2C7BB6;
  font-size: 20px;
  font-weight: 400;
  --title-size:       18px;
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        16px;
  --hover-color:      white;
  --bkgd-color:       #2C7BB6;
}

.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #2C7BB6;
  font-size: 15px;
  font-weight: 300;
}
.distill-site-footer {
  --text-color:       black;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       white/*#2C7BB6*/;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */
d-article{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 20px;
    grid-column-gap:40px;
    border-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', sans-serif;
  letter-spacing: 2px;
  line-height: 2 rem; /* increase so wrapping headers don't overlap*/
}

body {
  font-family: 'Lexend', sans-serif;
  color: #1f1f1f;
}
/*div {
  height: 200px;
}*/
p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 20px;
}
